.extension-info-container {
  flex: 1;
  padding-left: 10px;
  text-align: left;
  overflow-x: hidden;
  border: 2px solid black;
  background-color: lightgray;
}

.colour-cell {
  border: 3px solid lightgray;
}