.extension-info-container {
  flex: 1;
  padding-left: 10px;
  text-align: left;
  overflow-x: hidden;
  border: 2px solid black;
  border-left: none;
  background-color: lightgray;
}

.colour-cell {
  margin-top: 5px;
  height: 15px;
}